Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-WTF
WTForms
Flask-Limiter
Flask-Talisman
python-dotenv
gunicorn
werkzeug
requests
itsdangerous
email-validator
psycopg[binary]>=3.0
Flask-Mail
pandas
openpyxl
xlrd
reportlab==3.6.13
playwright==1.60.0
